---
const { name, image, price, rating, votes, popular, available } = Astro.props
  .product as Coffee;
---

<article class="card" data-sold-out={!available}>
  <header class="card__header">
    <img class="card__image" src={image} alt={name} />
    {popular && <span class="card__popular">Popular</span>}
  </header>
  <main class="card__body">
    <h3 class="card__name">{name}</h3>
    <span class="card__price">{price}</span>
  </main>
  <footer class="card__footer">
    <div class="card__rating">
      {
        rating ? (
          <img src="./images/Star_fill.svg" alt="star-fill" />
        ) : (
          <img src="./images/Star.svg" alt="star-fill" />
        )
      }
      <span class="card__mark">
        {rating}
        <span class="card__votes"
          >{!!votes ? `(${votes} votes)` : "No rating"}</span
        >
      </span>
    </div>
    {!available && <span class="card__sold-out">Sold out</span>}
  </footer>
</article>

<style>
  .card {
    width: 260px;
  }

  .card__header {
    position: relative;
    margin-bottom: 1em;
  }

  .card__image {
    border-radius: 1em;
  }

  .card__popular {
    position: absolute;
    top: 1em;
    left: 1em;
    padding: 0.3em 1em;
    border-radius: 99em;
    background-color: var(--clr-yellow);
    color: var(--clr-neutral-800);
    font-size: var(--fs-100);
  }

  .card__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
  }

  .card__name {
    margin-bottom: 0;
    font-size: var(--fs-400);
  }
  .card__price {
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
    background-color: var(--clr-green);
    color: var(--clr-neutral-800);
    font-size: var(--fs-300);
  }

  .card__footer {
    display: flex;
    justify-content: space-between;
  }

  .card__rating {
    display: flex;
    gap: 0.25em;
  }

  .card__votes {
    color: var(--clr-neutral-400);
  }

  .card__sold-out {
    color: var(--clr-red);
  }
</style>
